@model SeleaDent.Web.Models.LoginViewModel

<div class="login-container">
    <form id="login-form">
        <div class="row-login">
            <label>Email</label>
            @Html.TextBoxFor(m => m.Email, new
       {
           @class = "form-control",
           @id = "LoginEmail",
           @onkeydown = "event.keyCode == 13 && loginPage.login();"
       })
            @Html.ValidationMessageFor(m => m.Email, "", new
            {
                @class = "text-danger"
            })
        </div>
        <div class="row-login">
            <label>Password</label>
            @Html.PasswordFor(m => m.Password, new
       {
           @class = "form-control",
           @id = "LoginPassword",
           @onkeydown = "event.keyCode == 13 && loginPage.login();"

       })
            @Html.ValidationMessageFor(m => m.Password, "", new
            {
                @class = "text-danger",
            })
        </div>

        <div>
            <input type="button" id="send-input" class="login-button" value="SIGN IN" onclick="loginPage.login();"/>
        </div>
    </form>
</div>
